extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen de Nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Nunc sed id semper risus. Enim ut tellus elementum sagittis vitae. Eu tincidunt tortor aliquam nulla facilisi cras fermentum. Odio ut enim blandit volutpat maecenas volutpat blandit. Non arcu risus quis varius quam. Sollicitudin tempor id eu nisl nunc mi ipsum faucibus.
                p Sed arcu non odio euismod lacinia at quis risus sed. Cras tincidunt lobortis feugiat vivamus. Cras adipiscing enim eu turpis egestas pretium. Massa placerat duis ultricies lacus sed turpis tincidunt. Porttitor massa id neque aliquam vestibulum morbi.
                p Tortor at risus viverra adipiscing at in. Nam libero justo laoreet sit amet cursus sit amet. Tristique risus nec feugiat in. Lobortis elementum nibh tellus molestie. Imperdiet proin fermentum leo vel orci porta non pulvinar neque. In nisl nisi scelerisque eu. Adipiscing enim eu turpis egestas.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Non pulvinar neque laoreet suspendisse interdum consectetur libero id faucibus.
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Vestibulum morbi blandit cursus risus. Ultrices mi tempus imperdiet nulla malesuada pellentesque. 
                .col-md-4
                    img(src="img/icono_precios.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejor Precio
                    p Pretium quam vulputate dignissim suspendisse in est ante. Netus et malesuada fames ac turpis. 